# GIA comparison
### ICE6G and Simon et al. 2018
Build a function that takes lat/lon or tide gauge name as input and provides GIA at that location

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Sart with reading ICE6G. The text file is very anoying because columns are separated by space
# but there are also spaces in the names of the locations.
dir_ICE6G = "/Users/dewi/Work/Project_SeaLevelBudgets/GIA/ICE6G/"
ICE6G_ds  = pd.read_table(dir_ICE6G + "drsl.PSMSL.ICE6G_C_VM5a_O512.txt", header=5)

In [3]:
# First lists have to be read
lat = []
lon = []
locat = []
gia = []
name_tg = []
with open (dir_ICE6G + "drsl.PSMSL.ICE6G_C_VM5a_O512.txt", "r") as myfile:
    data = myfile.readlines()
for i in range(7,len(data)):
    line = data[i].split()
    lat.append(line[0])
    lon.append(line[1])
    locat.append(line[2])
    gia.append(line[-1])
    name_tg.append(line[4])
    
# Now build a pandas dataframe from these lists
gia_list = [("Lat", lat),
            ("Lon", lon),
            ("Location", locat),
            ("Name", name_tg),
            ("GIA", gia)]
gia_df = pd.DataFrame.from_dict(dict(gia_list))
gia_df.Location = gia_df.Location.astype(int)
gia_df.Lon = gia_df.Lon.astype(float)
gia_df.Lat = gia_df.Lat.astype(float)
gia_df.GIA = gia_df.GIA.astype(float)
gia_df = gia_df.set_index("Location")
gia_df = gia_df.sort_index()

tg_id=[20, 22, 23, 24, 25, 32]
gia_avg = (gia_df.loc[tg_id]).GIA.mean()
gia_avg

0.36833333333333335

In [4]:
time = np.arange(1900, 2020)
gia_ts = gia_avg * (time - time[0])
gia_ts_list = [("time", time),
              ("GIA", gia_ts)]
gia_ts_df = pd.DataFrame.from_dict(dict(gia_ts_list))
gia_ts_df = gia_ts_df.set_index("time")
gia_ts_df[-10:]

            GIA
time
2010  40.516667
2011  40.885000
2012  41.253333
2013  41.621667
2014  41.990000
2015  42.358333
2016  42.726667
2017  43.095000
2018  43.463333
2019  43.831667